<h2><%=current_user.username%>'s pending quests</h2>
<% @quests.each do |q| %>
  <div class="invite">
    <img class = "gilded" src="<%= q.inviter.avatar %>">
    <p class = "date-invite">
      <em><%= q.inviter.rank %></em>
      <em><%= q.inviter.username %></em>
      invites you to
      <em><%= q.location %></em>
      so you two can
      <em><%= q.description %></em>
      on
      <em><%= q.quest_date %></em>
      at
      <em><%= q.get_hour %></em>
    </p>

    <%= button_to "Accept", { action: "update", id: q.id , accepted: true}, method: :patch%>
    <%= button_to "Decline", { action: "update", id: q.id , rejected: true}, method: :patch%>
  </div>
<% end %>

<h2><%=current_user.username%>'s sent quest invites</h2>

<% @sent_quests.each do |q| %>
  <div class="invite">
    <img class = "gilded" src="<%= q.invitee.avatar %>">
    <p class = "date-invite">
      <em><%= q.invitee.rank %></em>
      <em><%= q.invitee.username %></em>
      Location:
      <em><%= q.location %></em>
      Description:
      <em><%= q.description %></em>
      on:
      <em><%= q.quest_date %></em>
      at
      <em><%= q.get_hour %></em>
    </p>

    <% if q.accepted %>
      They accept your invite!
    <% elsif q.rejected %>
      They rejected your invite! Sadz.
    <% else %>
      PENDING
    <% end %>
  </div>
<% end %>

<h2><%=current_user.username%>'s sent upcoming quests!</h2>

<% @upcoming_quests.each do |q| %>
  <div class="invite">
    <img class = "gilded" src="<%= q.inviter.avatar %>">
    <p class = "date-invite">
      You are going with
      <em><%= q.inviter.username %></em>
      to
      <em><%= q.location %></em>
      so you two can
      <em><%= q.description %></em>
      on
      <em><%= q.quest_date %></em>
      at
      <em><%= q.get_hour %></em>
    </p>

 YAY!
  </div>
<% end %>


