<div class="form">
<%= form_for @quest, url: {:action => "create"} do |f| %>
  <%= f.label :quest_date %>
  <%= f.date_select :quest_date %>

  <%= f.label :quest_time %>
  <%= f.time_select :quest_time %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :date_description %>
  <%= f.text_field :description %>

 <%= submit_tag("Send") %>
  <% end %>
</div>
