<div class="form">
<%= form_for @quest, url: {:action => "create"} do |f| %>
  <%= f.label :quest_date %>
  <%= f.datetime_select :quest_date, :start_year => Date.current.year %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :date_description %>
  <%= f.text_field :description %>

 <%= submit_tag("Send") %>
  <% end %>
</div>
