<h2><%=current_user.username%>'s inbox</h2>
<div id="inbox">
  <li class="info-type">From</li>
  <li class="info-type">Subject</li>
  <% @messages.each do |m| %>
    <div class="message-list">
        <li class="info-type get_message" id="<%= m.id %>"><%= m.sender%></li>
        <li class="info-type get_message" id="<%= m.id %>"><%= m.subject%></li>
    </div>
  <% end %>
</div>
<div id="reader">

</div>
