<div class="form">
  <% @user = User.new %>
  <% unless @user.errors.none? %>
  <% @user.errors.full_messages.each do |msg| %>
  <%= msg %>
  <% end %>
  <% end %>

  <%= form_for @user do |f| %>
  <li><%= f.label :username %></li>
  <li><%= f.text_field :username %></li>

  <li><%= f.label :email %></li>
  <li><%= f.email_field :email %></li>

  <li><%= f.label :phone %></li>
  <li><%= f.text_field :phone %></li>

  <li><%= f.label :birthdate %></li>
  <li><%= f.date_select :birthdate, :start_year => Date.current.year - 60, :end_year => Date.current.year %></li>

  <li><%= f.label :location %></li>
  <li><%= f.text_field :location %></li>

  <li><%= f.label :tell_us_about_yourself %></li>
  <li><%= f.text_field :blurb %></li>

 <li> <%= f.label :photo_url %></li>
  <li><%= f.text_field :avatar %></li>

  <li><%= f.label :password %></li>
  <li><%= f.password_field :password %></li>

  <li><%= f.label :password_confirmation %></li>
 <li> <%= f.password_field :password_confirmation %></li>

 <li> <%= f.submit  class: "Submit"%></li>
  <% end %>
</div>
