<div class="form">
  <% @user = User.new %>
  <% unless @user.errors.none? %>
  <% @user.errors.full_messages.each do |msg| %>
  <%= msg %>
  <% end %>
  <% end %>

  <%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :birthdate %>
  <%= f.date_select :birthdate, :start_year => Date.current.year - 60, :end_year => Date.current.year %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :tell_us_about_yourself %>
  <%= f.text_field :blurb %>

  <%= f.label :photo_url %>
  <%= f.text_field :avatar %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit  class: "Submit"%>
  <% end %>
</div>
