<h1>
  <div class="center side">
   <link href='http://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
  <div class="center">
    <img class = "gilded" src="<%=@user.avatar%>" alt="" width=200>
    <h4> <%= @user.username.downcase %></h4>
  </div>
  <h2><%= @user.username.downcase %> / <%= @user.birthdate %> / <%= @user.location %></h2>
  <h2> rank: <%= @user.rank_name %> </h2>
  <div class="blurb">
    <p class="blurb">
      <%= @user.blurb %>
    </p>
  </div>
  <% if current_user != @user %>
    <%= link_to 'ask out', new_user_quest_path(@user), :method => :get, :id => "ask"%>
  <% end %>
  <% if current_user == @user %>
    <%= link_to 'edit profile', edit_user_path(@user), :method => :get%>
  <% end %>
</div>
</h1>
