<!DOCTYPE html>
<html>
<head>
  <title>DateQuest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar">
    <nav>
      <ul>
        <% if !logged_in? %>
          <li><%= link_to 'sign up', new_user_path, :method => :get, class: "nav-home" %>
          <li><%= link_to 'login', new_session_path, :method => :get, class: "nav-home" %></li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to 'profile', user_path(current_user.id), :method => :get, class: "nav-home" %></li>
          <li><%= link_to 'logout', session_path, :method => :delete, class: "nav-home" %></li>
        <% end %>
      </ul>
    </nav>
<%= link_to image_tag('datequestlogo.svg'), '/', id: "logo"%>
  </div>
  <div class="main">
    <%= yield %>
  </div>
</body>
</html>
